@model EmployeeManagementSystem.ViewModels.UserViewModel

@{
	ViewData["Title"] = "Edit";
}



<h4 class="pt-3">Edit New User</h4>
<hr />

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Edit User Details</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="FirstName" class="control-label"></label>
								<input asp-for="FirstName" class="form-control" type="text" />
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="MiddleName" class="control-label"></label>
								<input asp-for="MiddleName" class="form-control" type="text" />
								<span asp-validation-for="MiddleName" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="LastName" class="control-label"></label>
								<input asp-for="LastName" class="form-control" type="text" />
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="NationalId" class="control-label"></label>
								<input asp-for="NationalId" class="form-control" type="text" />
								<span asp-validation-for="NationalId" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Email" class="control-label"></label>
								<input asp-for="Email" class="form-control" type="email" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="PhoneNumber" class="control-label"></label>
								<input asp-for="PhoneNumber" class="form-control" type="number" />
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="UserName" class="control-label"></label>
								<input asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Password" class="control-label"></label>
								<input asp-for="Password" class="form-control" type="password" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="RoleId" class="control-label"></label>
								<select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<a asp-action="Index" class="btn btn-danger push-left">Back to List</a>
						<input type="submit" value="Update User" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
